{erl_opts, [debug_info]}.

{deps, [{jiffy, "2.0.0"}, {cowboy, "2.14.2"}]}.

{project_plugins, [rebar3_format, rebar3_lint]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, [{gun, "2.2.0"}]}
    ]}
]}.

{dialyzer, [
    {warnings, [error_handling, unknown, unmatched_returns]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [erts, kernel, stdlib, jiffy, cowboy, cowlib, ranch]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
