{erl_opts, [debug_info]}.

{deps, [{jiffy, "1.1.2"}]}.

{project_plugins, [rebar3_format, rebar3_lint]}.

{profiles, [
    {test, [{erl_opts, [debug_info]}]}
]}.

{dialyzer, [
    {warnings, [error_handling, unknown, unmatched_returns]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [erts, kernel, stdlib, jiffy]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
